.container {
  min-height: 100vh;
  display: grid;
  grid-auto-columns: minmax(0, 18rem);
  justify-content: center;
  align-content: center;
  gap: 2rem;

  @media (min-width: 800px) {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
  }
}
.header {
  .logo {
    height: 1.75rem;
  }

  @media (min-width: 800px) {
    grid-column: 1/-1;

    .logo {
      height: 3rem;
    }
  }
}
.main {
  display: grid;
  gap: 2rem;
  text-align: center;

  @media (min-width: 800px) {
    grid-column: 1/-1;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;

    .main-img {
      animation: flip-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      @keyframes flip-in {
        0% {
          transform: rotateX(-80deg);
          opacity: 0;
        }
        100% {
          transform: rotateX(0);
          opacity: 1;
        }
      }
    }
  }
}

.intro {
  .intro-title {
    margin-bottom: 1.5rem;
  }
  .intro-text {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .btn {
    cursor: pointer;
    background-color: #fff;
    padding: 0.5rem 4rem;
    display: inline-block;
    border-radius: 100px;
    color: $violet;
    font-size: 0.75rem;
    margin-bottom: 2rem;

    @media (min-width: 800px) {
      padding: 0.75rem 3rem;
      transition: 350ms ease;
      font-size: 0.9rem;
      &:hover {
        background-color: $soft-magenta;
        color: #fff;
      }
      &:active {
        transform: translateY(0.2rem);
      }
    }
  }

  @media (min-width: 800px) {
    text-align: left;
  }
}
.footer {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 8rem;
    justify-self: center;

    .social-link {
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;
      display: grid;
      place-items: center;

      @media (min-width: 800px) {
        transition: 450ms ease;
        &:hover {
          color: $soft-magenta;
        }
        &:active {
          transform: scaleX(0.2);
        }
      }
    }
  }
  .attribution {
    display: none;
    order: -4;
    justify-self: center;
  }

  @media (min-width: 800px) {
    grid-column: 1/-1;
    justify-self: right;
    display: grid;
    grid-template-columns: 1fr auto;

    .attribution {
      display: block;
    }
  }
}
